body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.menus {
  width: 100%;
  height: 75px;
  position: fixed; 
  z-index: 100;
  background-color: rgba(27, 26, 26, 0.4);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menu-center {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 0.3em;
}

#menu-center > ul > li {
  list-style: none;
  display: inline;
  width: 60%;
  margin-right: 5%;
}

#menu-center ul > li > a.actives {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.material-icons.md-48 { font-size: 48px; }

#menu-center > ul > li > a {
  font-size: 14px;
  text-decoration: none;
}
  
#home {
  background: url('../img/tap_back.png') center / cover;
  height: auto;
  min-height: 100% !important;
  background-attachment: fixed;  
  overflow: hidden;
}

#acerca {
  background: url('../img/tap_back1.png') center;
  background-size: cover;
  height: auto;
  min-height: 100% !important;
  background-attachment: fixed;
}

#estudios {
  background: url('../img/tap_back2.png') center / cover;
  background-size: cover;
  height: auto;
  min-height: 100% !important;
  background-attachment: fixed;  
}

#experiencia {
  background: url('../img/tap_back3.png') center / cover;
  background-size: cover;
  height: auto;
  min-height: 100% !important;
  background-attachment: fixed;
}

/* 
 */

#menu-center > ul > li > a {
  position: relative; outline: none;
}

#menu-center > ul > li > a:before{
  content: "";
  position: absolute;
  width: 60%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transition: 1s;
}

#menu-center > ul > li > a.actives:before{
  transform: scaleX(2);
}

/*seccion inicial*/ 

.home-headerwrap{
    color: #fff;
}

.home-headerwrap { 
  text-align: center;
  height: 100%;
  width: 100%; 
}
.container { 
  padding-right: 15px; 
  padding-left: 15px; 
  margin-right: auto; 
  margin-left: auto; 
}

.container-div { 
  padding-top: 75px; 
}

.scroll-arrow {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-arrow:hover {
    color: #fff;
}
.is-loaded .scroll-arrow {
    animation: bounce-down 1.5s infinite;
}

.center-div{  
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  background-color: rgba(255,255,255,0.6);
  border-radius: 2px; 
  height: auto;
  min-height: 100% !important;
}
.card .title {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 300; 
}
.card .content {
  padding: 1.3rem;
  font-weight: 300;
  border-radius: 0 0 2px 2px; 
}
.card .content-gra {
  font-weight: 300;
  border-radius: 0 0 2px 2px; 
  color: white;
  background-color: rgba(0,0,0,0.2);
}
.card p {
  margin: 0; 
}
.card .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 1.3rem; 
}
.card a {
  color: #ffab40;
  margin-right: 1.3rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none; 
}
.card .image {
  position: relative;
}
.card .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.3rem;
  color: #fff; 
}
.card .image img {
  border-radius: 2px 2px 0 0;
  background-attachment: fixed;
}

.pad_card {
  padding: 5px;
}

/* */

.full-width {
  min-width: 100% !important;
}

.footer {
  background-color: rgba(0,0,0,0.4);
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: .5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}
